!data
data/*
!data/activities_scraps.csv
!data/user_frds.csv
!data/user_lang.csv
!data/piks.csv
!data/linkhub.csv
!data/category.csv
webserver_config.py
airflow.cfg
airflow.db
**/__pycache__/
!data/artificial_user_list

